
{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card mt-5">

    <div class="card-body">
        <div class="card-title py-3">
        <h3>Info</h3>
        </div>

        <p style="color:green;"><b>Your password has been set. You may go ahead
        and login in now</b></p>

        <a href="{% url 'login' %}">Login</a>

    </div>
    </div>
</div>

    </div>

{% endblock content %}