
{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<br>
<br>
<div class="card mt-5">

    <div class="card-body">
        <div class="card-title py-3">
        <h3>Info</h3>
        </div>

        <p style="background-color:green; color:black;"><b>We have mailed you instruction for setting your password, if an account exits with the email you 
        entered. You should receive them shortly.</b></p>

        <p style="background-color:red; color:black;"><b>If you dont receive an email, please make sure you've have entered correct email address
         which you have registered with your account.</b></p>

    </div>
    </div>
</div>

    </div>

{% endblock content %}